# https://github.com/marketplace/actions/deploy-gatsby-to-aws-s3
name: Gatsby S3 Build and Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 20.9
        uses: actions/setup-node@v1
        with:
            node-version: 20.9
      - name: Build
        run: |
            yarn install && yarn build
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1
      - name: Deploy
        uses: jonelantha/gatsby-s3-action@v2
        with:
            dest-s3-bucket: ${{ secrets.AWS_S3_BUCKET }}
            cloudfront-id-to-invalidate: ${{ secrets.CLOUDFRONT_ID }}